.container {
  display: inline-flex;
  padding: 10px 102px;
  justify-content: center;
  flex-shrink: 0;
}

.logo {
    border-radius: 50%;
}

.navbar {
  display: flex;
  height: 71px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #1e1e1e;
  margin-right: 3rem;
  line-height: 1.6;
}

.nav-link-home {
  text-decoration: none;
  color: #8bc34a;
  margin-right: 3rem;
}

.nav-link:hover {
  color: #8bc34a;
}

.products {
    padding: 228.5px;
}

.log-in-button {
  text-decoration: none;
  color: #1e1e1e;
  margin-right: 1rem;
}

.log-in-button:hover {
  color: #8bc34a;
}

.sign-up-button {
  background-color: #8bc34a;
  color: #1e1e1e;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
